.fadeIn {
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fadeIn.visible {
  opacity: 1;
  transform: translate(0, 0) !important;
}

/* Directions */
.up {
  transform: translateY(30px);
}

.down {
  transform: translateY(-30px);
}

.left {
  transform: translateX(30px);
}

.right {
  transform: translateX(-30px);
}

.none {
  transform: none;
}
